# LaTeX intermediate files
lab1/main.aux
lab1/main.bbl
lab1/main.blg
lab1/main.bcf
lab1/main.idx
lab1/main.ind
lab1/main.lof
lab1/main.lot
lab1/main.out
lab1/main.toc
lab1/main.acn
lab1/main.acr
lab1/main.alg
lab1/main.glg
lab1/main.glo
lab1/main.gls
lab1/main.ist
lab1/main.fls
lab1/main.log
lab1/main.fdb_latexmk
lab1/main.run.xml
lab1/main.synctex.gz

# Output files
lab1/main.pdf
